<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApmvyuUTX08ATGCsJU2ONVU0YdmXOlkLU</string>
	<key>GCM_SENDER_ID</key>
	<string>902940088412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shiftsyncAttendance</string>
	<key>PROJECT_ID</key>
	<string>shiftsync-attendance</string>
	<key>STORAGE_BUCKET</key>
	<string>shiftsync-attendance.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902940088412:ios:d068b543f90eef6cc4ae99</string>
</dict>
</plist>